<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zebra.xconfig.server.dao.mapper.XKvMapper">
    <sql id="kvCols">
        id,
        project,
        profile,
        xKey,
        xValue,
        security,
        description,
        createTime,
        updateTime
    </sql>

    <select id="queryAll" resultType="com.zebra.xconfig.server.po.KvPo">
        SELECT
          <include refid="kvCols"></include>
        FROM x_kv
    </select>

    <select id="queryByProjectAndProfile" resultType="com.zebra.xconfig.server.po.KvPo" parameterType="map">
        SELECT
          <include refid="kvCols"></include>
        FROM x_kv
        WHERE project = #{project}
        AND profile = #{profile}
        ORDER BY id
    </select>

    <select id="queryByProjectsAndProfile" resultType="com.zebra.xconfig.server.po.KvPo" parameterType="map">
        SELECT
        <include refid="kvCols"></include>
        FROM x_kv
        WHERE project in
        <foreach item="project" index="index" collection="projects" open="(" separator="," close=")">
            #{project}
        </foreach>
        AND profile = #{profile}
        ORDER BY id
    </select>

    <select id="queryByProjectsAndProfilePagging" parameterType="map" resultType="com.zebra.xconfig.server.po.KvPo">
        SELECT
          <include refid="kvCols"></include>
        FROM x_kv
        WHERE project = #{project}
        AND profile =  #{profile}
        ORDER BY project,id
    </select>

    <insert id="addOne" parameterType="com.zebra.xconfig.server.po.KvPo">
        INSERT INTO x_kv
        (
            project,
            profile,
            xKey,
            xValue,
            security,
            description,
            createTime,
            updateTime
        )VALUE (
            #{project},
            #{profile},
            #{xKey},
            #{xValue},
            #{security},
            #{description},
            NOW(),
            NOW()
        )
    </insert>

    <update id="updateOne" parameterType="com.zebra.xconfig.server.po.KvPo">
        UPDATE x_kv
        SET xValue = #{xValue},security = #{security},description = #{description}
        WHERE project = #{project}
        AND profile = #{profile}
        AND xKey = #{xKey}
    </update>

    <select id="load" parameterType="map" resultType="com.zebra.xconfig.server.po.KvPo">
        SELECT
        <include refid="kvCols"></include>
        FROM x_kv
        WHERE project = #{project}
        AND profile = #{profile}
        AND xKey = #{key}
    </select>

    <select id="delOne" parameterType="map">
        DELETE FROM x_kv
        WHERE project = #{project}
        AND profile = #{profile}
        AND xKey = #{key}
    </select>

    <insert id="bathInsertKvsByProfile" parameterType="map">
        INSERT INTO x_kv
        (
            project,
            profile,
            xKey,
            xValue,
            security,
            description,
            createTime,
            updateTime
        ) SELECT
            project,
            #{profile},
            xKey,
            xValue,
            security,
            description,
            NOW(),
            NOW()
        FROM x_kv
        WHERE project = #{project}
        AND profile = #{from}
    </insert>

    <delete id="delByProjectAndProfile" parameterType="map">
        DELETE FROM x_kv
        WHERE project = #{project}
        AND profile = #{profile}
    </delete>

    <delete id="delByProject" parameterType="map">
        DELETE FROM x_kv
        WHERE project = #{project}
    </delete>
</mapper>