<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zebra.xconfig.server.dao.mapper.XUserMapper">
    <sql id="userCol">
        id,
        userName,
        userNike,
        password,
        salt,
        createTime,
        role
    </sql>

    <select id="loadUser" parameterType="map" resultType="com.zebra.xconfig.server.po.UserPo">
        SELECT
          <include refid="userCol"></include>
        FROM x_user
        WHERE userName = #{userName}
    </select>

    <select id="loadUserProjectRole" parameterType="map" resultType="int">
        SELECT
          role
        FROM x_user_project_role
        WHERE userName = #{userName}
        AND project = #{project}
    </select>

    <select id="queryByUserNamePagging" parameterType="map" resultType="com.zebra.xconfig.server.po.UserPo">
        SELECT
        <include refid="userCol"></include>
        FROM x_user
        <where>
            <if test="userName != null and userName != ''">
                userName LIKE CONCAT(#{userName},'%')
            </if>
        </where>
        ORDER BY id DESC
        LIMIT #{skip},#{pageSize}
    </select>

    <select id="counByUserName" parameterType="map" resultType="int">
        SELECT count(1) FROM x_user
        <where>
            <if test="userName != null and userName != ''">
                userName LIKE CONCAT(#{userName},'%')
            </if>
        </where>
    </select>

    <insert id="insertUser" parameterType="com.zebra.xconfig.server.po.UserPo">
        INSERT INTO x_user
        (
            userName,
            userNike,
            password,
            salt,
            createTime,
            role
        )VALUE (
            #{userName},
            #{userNike},
            #{password},
            #{salt},
            NOW(),
            #{role}
        )
    </insert>

    <delete id="deleteUserByUserName" parameterType="map">
        DELETE FROM x_user
        WHERE userName = #{userName}
    </delete>

    <delete id="deleteUserProjectRoleByUserName" parameterType="map">
        DELETE FROM x_user_project_role
        WHERE userName = #{userName}
    </delete>

    <select id="queryGuestUserByUserNameLike" parameterType="map" resultType="string">
        SELECT
          userName
        FROM x_user
        WHERE userName LIKE CONCAT(#{userName},'%')
        AND role = 10
        ORDER BY id DESC
    </select>

    <select id="queryUserRoleByProject" parameterType="map" resultType="com.zebra.xconfig.server.po.UserProjectRolePo">
        SELECT userName,project,role
        FROM x_user_project_role
        WHERE project = #{project}
    </select>

    <insert id="insertUserProjectRole" parameterType="com.zebra.xconfig.server.po.UserProjectRolePo">
        INSERT INTO x_user_project_role
        (
          userName,
          project,
          role
        )VALUE (
          #{userName},
          #{project},
          #{role}
        )
    </insert>

    <delete id="deleteUserProjectRole" parameterType="map">
        DELETE FROM x_user_project_role
        WHERE project = #{project}
        AND userName = #{userName}
    </delete>

    <update id="updateUser" parameterType="map">
        UPDATE x_user
        SET
          userNike = #{userNike},
          password = #{password}
        WHERE userName = #{userName}
    </update>

    <delete id="deleteUserProjectRoleByProject" parameterType="map">
        DELETE FROM x_user_project_role
        WHERE project = #{project}
    </delete>
</mapper>