<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd">

    <!-- 需要实现com.zebra.xconfig.client.XConfigInitListener 接口 -->
    <bean id="myXconfigListener" class="com.zebra.xconfig.client.MyXConfigInitListener">
    </bean>

    <!--使用静态工厂初始化-->
    <bean id="xConfig" class="com.zebra.xconfig.client.XConfigFactory" factory-method="instance">
        <constructor-arg value="demo"/>
        <constructor-arg ref="myXconfigListener"/>
    </bean>

    <!-- 与spring结合的工具类，支持${}获取属性值 -->
    <bean class="com.zebra.xconfig.client.XConfigPropertyPlaceholderConfigurer">
        <property name="XConfig" ref="xConfig"/>
    </bean>

    <!--例子：注入属性-->
    <bean id="mysqlConf" class="com.zebra.xconfig.client.MysqlConf">
        <property name="password" value="${demo.configKey}"></property>
    </bean>

    <!--    数据源配置 -->
    <!--<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">-->
        <!--<property name="driverClassName" value="${mysql.jdbc.driver}"></property>-->
        <!--<property name="url" value="${mysql.jdbc.url}"></property>-->
        <!--<property name="username" value="${mysql.jdbc.username}"></property>-->
        <!--<property name="password" value="${mysql.jdbc.password}"></property>-->
    <!--</bean>-->
</beans>